client-secret.json
data/
fly.toml
fly.alias
node_modules
.direnv/

# .env files contain secrets, so they should never be checked in to source
# control.
.env.*
# .env.example is an exception as it only contains dummy secrets.
!.env.example

# Compiled binaries
bin/
