<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
    {{ if .ShowDocs }}
    <link
      rel="stylesheet"
      type="text/css"
      href="/third_party/prism/prism.css"
    />
    {{ end }}
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>{{.Title}}</h1>

      <p class="subtitle">{{.Subtitle}}</p>

      {{ if .ShowDocs }}
      <div class="documentation">
        <h2>Upload from the command line</h2>
        <pre><code id="curl-cmd" class="language-bash"></code></pre>
      </div>

      <h2>Upload via JavaScript</h2>

      <pre><code id="js-example" class="language-javascript"></code></pre>

      {{ end }}

      <div class="web-ui-upload">
        <h2>Upload via web UI</h2>

        <div class="upload-form">
          <textarea id="upload-textarea"></textarea>

          <div class="upload-wrapper">
            <input type="submit" id="upload" value="Upload" />
          </div>
        </div>

        <p id="result">&nbsp;</p>
      </div>

      <div id="more-info">
        <h2>More info</h2>
        <p>
          <a href="https://github.com/mtlynch/logpaste"
            >github.com/mtlynch/logpaste</a
          >
        </p>
      </div>
    </div>

    {{ if .ShowDocs }}
    <script src="/third_party/prism/prism.js" data-manual></script>
    {{ end }}
    <script src="/js/logpaste.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
