<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <h1>{{.Title}}</h1>

    <p>A simple debug log upload service.</p>

    <p>Better documentation coming soon.</p>

    <textarea id="input"></textarea>

    <input type="submit" id="upload" value="Upload" />

    <div id="result"></div>

    <a href="https://github.com/mtlynch/logpaste">github.com/mtlynch/logpaste</a>

    <script>
      function uploadText(text) {
        return fetch("/", {
          method: "PUT",
          body: text,
        })
          .then((response) => {
            const contentType = response.headers.get("content-type");
            const isJson =
              contentType && contentType.indexOf("application/json") !== -1;
            // Success case is an HTTP 200 response and a JSON body.
            if (response.status === 200 && isJson) {
              return Promise.resolve(response.json());
            }
          })
          .then((data) => data.id);
      }

      document.getElementById("upload").addEventListener("click", (evt) => {
        uploadText(document.getElementById("input").value).then((id) => {
          const resultUrl = `${document.location}${id}`;

          const paragraph = document.createElement("p");
          paragraph.innerText = resultUrl;

          const anchor = document.createElement("a");
          anchor.href = resultUrl;
          anchor.appendChild(paragraph);

          const resultDiv = document.getElementById("result");
          while (resultDiv.firstChild) {
            resultDiv.removeChild(resultDiv.lastChild);
          }
          resultDiv.appendChild(anchor);
        });
      });
    </script>
  </body>
</html>
