version: 2.1
jobs:
  test:
    docker:
      - image: cimg/go:1.13
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Test go packages
          command: dev-scripts/run-go-tests
      - run:
          name: Verify golang formatting
          command: dev-scripts/check-go-formatting
  check_frontend_formatting:
    docker:
      - image: circleci/node:13.2.0-stretch
    steps:
      - checkout
      - run:
          name: Install prettier globally
          command: npm install prettier@2.0.5
      - run:
          name:
          command: ./node_modules/.bin/prettier --check .
  e2e:
    machine:
      # Choose an explicit machine image so that we get the latest version of
      # docker-compose.
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Perform e2e tests.
          command: dev-scripts/run-e2e-tests
          no_output_timeout: 1m
      - store_artifacts:
          path: e2e/cypress/videos
      - store_artifacts:
          path: e2e/cypress/screenshots
  deploy:
    docker:
      - image: cimg/base:2020.01
    environment:
      APP_NAME: logpaste-com
    steps:
      - checkout
      - run:
          name: Install flyctl
          command: curl -L https://fly.io/install.sh | sh
      - run:
          name: Create fly.io config file
          command: |
            set -x
            curl -s -L https://raw.githubusercontent.com/mtlynch/logpaste/master/dev-scripts/make-fly-config | \
              bash /dev/stdin "${APP_NAME}"
      - run:
          name: Deploy logpaste to fly.io
          command: |
            "${HOME}/.fly/bin/flyctl" deploy
workflows:
  version: 2
  test:
    jobs:
      - test
      - e2e
      - check_frontend_formatting
      - deploy:
          requires:
            - test
            - e2e
            - check_frontend_formatting
          filters:
            branches:
              only: master
