version: "3.2"
services:
  test_sftp:
    image: emberstack/sftp:build-5.0.3
    volumes:
      - ./sftp.json:/app/config/sftp.json:ro
  logpaste:
    build:
      context: ../
    environment:
      - PORT=3333
      - DB_REPLICA_URL="sftp://dummyuser:dummypass@test_sftp"
    volumes:
      - ./:/app/e2e
    depends_on:
      - test_sftp
  cypress:
    image: "mtlynch/cypress:8.1.0-chrome91"
    command: ["--browser", "chrome"]
    depends_on:
      - logpaste
    environment:
      - CYPRESS_baseUrl=http://logpaste:3333
    working_dir: /e2e
    volumes:
      - ./:/e2e
