version: "3.2"
services:
  test_sftp:
    image: emberstack/sftp:build-5.1.66-amd64
    volumes:
      - ./sftp.json:/app/config/sftp.json:ro
  logpaste:
    build:
      context: ../
    entrypoint: /app/e2e/wait-for-sftp.bash
    command: ["test_sftp", "22", "--", "/app/docker-entrypoint"]
    environment:
      - PORT=3333
      - DB_REPLICA_URL="sftp://dummyuser:dummypass@test_sftp"
    volumes:
      - ./:/app/e2e
    depends_on:
      - test_sftp
  playwright:
    image: "mcr.microsoft.com/playwright:v1.57.0"
    command:
      [
        "bash",
        "-lc",
        "npm ci && npx playwright test --config /app/playwright.config.js",
      ]
    depends_on:
      - logpaste
    environment:
      - PLAYWRIGHT_BASE_URL=http://logpaste:3333
    working_dir: /app
    volumes:
      - ../:/app
